{% extends "base.html" %}
{% load staticfiles %}
{% block article %}
{% for article in articles %}
    <div class="list_guid">
    <h2>  {{    article.title_article }}</h2>
    <h6>Дата Публикации:{{ article.article_date }}</h6>
    <h4><a href="/articles/get/{{ article.id }}/">Перейти к статье</a></h4>
    <p class="guid">{{ article.title_text }}</p>
            {% if  champion_name %}
                <p> Связь есть</p>
                {% else  %}
                 <p> Связи нет</p>
    {% endif %}


<img src="{{ article.champion.face.url}}" alt="My image"/>

                   <p>Картинка загружена,но не отображается</p>

              <p>Картинка не загружена</p>

                <p>Жизнь- тлен</p>

  <p><a href="/articles/addlike/{{ article.id }}/">{{ article.article_likes }}<img src="{% static 'images.jpg' %}" height="25px" width="25px"></a> Автор:{{ article.author }} </p>
    </div>
     <hr>
    {% load staticfiles %}<script>
   var size = 400,
    newsContent= $('.guid'),
    newsText = newsContent.text();

if(newsText.length > size){
	newsContent.text(newsText.slice(0, size) + ' ...');
}
</script>
{% endfor %}
{% endblock %}
